:root {
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    position: relative;
    color-scheme: light dark;
    background-color: #404fec;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
  
.Background {
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}
  
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 80%;
    z-index: 10;
    background-color: transparent;
}
  
.intro-text {
    position: absolute; /* Fix it to the page */
    top: 50%; /* Center vertically */
    left: 50px; /* Fixed to the left with some margin */
    transform: translateY(-50%); /* Vertically align the content */
    text-align: left;
    max-width: 500px;
    color: white;
}